*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    margin: 0;
    --wt-color-white: #fff;
    --wt-color-white-60: hsla(0,0%,100%,0.6);
    --wt-color-white-30: hsla(0,0%,100%,0.3);
    --wt-color-white-20: hsla(0,0%,100%,0.2);
    --wt-color-white-10: hsla(0,0%,100%,0.1);
    --wt-color-white-5: hsla(0,0%,100%,0.05);
    --wt-color-dark: #27282c;
    --wt-color-dark-70: rgba(39,40,44,0.7);
    --wt-color-dark-40: rgba(39,40,44,0.4);
    --wt-color-dark-20: rgba(39,40,44,0.2);
    --wt-color-dark-5: rgba(39,40,44,0.05);
    --wt-color-grey: #3c3d40;
    --wt-color-grey-light: #f4f4f4;
    --wt-color-grey-dark: #323236;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: var(--wt-color-dark);
    width: 100%;
}

header .header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 1rem;
}

header nav ul li a {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

.clearfix::after {
    /*This is used to expand nav bar color out*/
    content: " ";
    display: block;
    height: 0;
    clear: both;
}


/* LANDING PAGE NOW */
.page-container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.landing-page-banner {
    width: 100%;
    background-color: var(--wt-color-grey-dark);

}

.landing-page-banner h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-align: center;
    padding: 1rem 0rem;
}

.landing-page-upper-calandar {
    padding-top: 5rem;
    color: white;
    text-align: center;
}

.landing-page-lower-calandar {
    padding-top: 1.5rem;
    padding-bottom: 8rem;
    color: white;
    text-align: center;
}

.hello-world-typing-div {

}

.hello-world-typing-p {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--wt-color-dark);
}


.section-container {
    padding: 0rem 2rem;
}

.about-myself-main-section{
    padding-top: 1rem;
}

.about-myself-div {
    padding-bottom: 1.5rem;
}

.my-picture {
    background-image: url("../resources/ericsonsmiling.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;

}

.my-picture-container {
    padding-bottom: 1.5rem;
}

.main-style-2 {
    padding: 1.5rem 2rem 1.5rem;
    background-color: var(--wt-color-grey-dark);
    color: white;
}

.work-experience-title {
    text-align: center;
    padding-bottom: 1rem;
}

.experience-card {
    /*background-color: #f7f7f7;*/
    background-color: #e0e0e0;
    color: #141414;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.01rem 0.01rem #3f3f3f;
}

.experience-card-title-container {

}

.experience-card-picture {
    background-image: url("../resources/SAMSUNG-Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.5rem;
    height: 3.5rem;
    float: left;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.experience-info {
    display: inline-block;
    color: var(--wt-color-dark);
    max-height: 3.5rem;
    padding-top: 1rem;
    margin: 0;
    line-height: 0.5rem;

}

.experience-info-company {
    font-size: 1rem;
}

.experience-info-title {
    font-size: 9px;
    color: #999;
}

.experience-card-explanation {
    padding: 0 0.5rem 0.5rem;
    font-size: 0.75rem;
    color: #999;
}

.ul-technology-list {
    padding: 0.5rem 0.5rem;
}

.ul-technology-list li {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.2rem;
    padding: 5px;
    color: #fff;
    background-color: #3c6bf4;
    margin-bottom: 0.4rem;
}

.main-style-1 {
    padding: 1.5rem 2rem 1.5rem;
    background-color: var(--wt-color-white-20);
}

.main-style-1-title-container {

}

.main-style-1-title {
    text-align: center;
    padding-bottom: 1rem;
    color: #868383;
    padding-bottom: 1rem;
}

#flappy-bird-picture {
    background-image: url("../resources/flappyBirdLogo.png");
}

footer {
    padding: 1rem;
}

footer h2 {
    text-align: center;
}

