*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{
    position: relative;
}

#main-navigation-bar {
    background-color: white;
}

#main-navigation-bar.scrolled {

}

.navbar, .navbar-brand {
    font-size: 1.5rem;
}

#landing-page-icons a {
    color: #545454;
}

#landing-page-icons a:hover {
    color: #0056b3;
}

#hello-world-typing-h {
}

#cursor {
    border-right: black;
}

#landing-page-picture {
}

#landing-page-header {
    font-weight: bolder;
    color: #545454;
}

.jumbotron {
    background-color: white;
}

#landing-page-icons {
    font-size: 1.3rem;
}

.section-header {
    font-weight: bolder;
    color: #545454;
    margin-bottom: 3rem;
}

.experience-box {
    background-color: #e0e0e0;
    padding: 2rem;
}

.language-bar {
    /* TODO */
}

.experience-box-header {
    font-weight: bolder;
    font-size: 1.7rem;
}

.btn-static {
    background-color: #0d35e6;
    border: 1px solid lightgrey;
    cursor: default;
}



.btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}

.tech-list-item {
    font-size: 1rem;
}

#bitmoji-crying-image {
    max-width: 100%;
}

#footer-links {
    background-color: #fafafa;
}

#footer-links a {
    color: #545454;
}

#footer-links a:hover {
    color: #0056b3;
}

@media screen and (max-width: 992px) {
    .experience-box-header {
        font-size: 1rem;
    }

    .experience-box-picture {
        height: calc(30px * 3);
        width: calc(40px * 3);
    }

}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .show > .nav-link,
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        text-underline-position: below;
        border-bottom: 3px solid rgba(0, 0, 0, 0.9);
        transition: 0.3s all ease-in-out;
    }
}
