*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

a :hover {
    opacity: 60%;
}

:root {
    margin: 0;
    --wt-color-white-20: hsla(0,0%,100%,0.2);
    --wt-color-dark: #27282c;
    --wt-color-grey: #3c3d40;
    --wt-color-grey-dark: #323236;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: var(--wt-color-dark);
    width: 100%;
}

header .header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 1rem;
}

header nav ul li a {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
}

#header-resume-link {
    display: none;
}

.clearfix::after {
    /*This is used to expand nav bar color out*/
    content: " ";
    display: block;
    height: 0;
    clear: both;
}


/* LANDING PAGE NOW */
.page-container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.landing-page-banner {
    width: 100%;
    background-color: var(--wt-color-grey-dark);
}

.landing-page-banner h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-align: center;
    padding: 1rem 0rem;
}

.landing-page-upper-calandar {
    padding-top: 5rem;
    color: white;
    text-align: center;
}

.landing-page-lower-calandar-container {
    padding-top: 1.5rem;
    padding-bottom: 8rem;
    color: white;
    text-align: center;
}

.landing-page-lower-calandar {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.09rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.landing-page-lower-calandar a {
    color: white;
}

.hello-world-typing-div {
    /* TODO*/
    padding: 1rem;
    text-align: center;
}

#hello-world-typing-p {
    font-weight: bold;
    font-size: 2rem;
    color: var(--wt-color-dark);
}

#cursor {
    font-weight: bold;
    font-size: 2rem;
    color: var(--wt-color-dark);
}

#cursor {
    border-right: black;
}

.section-container {
    padding: 0rem 2rem;
}


.about-myself-div {
    padding-bottom: 1.5rem;
}

.my-picture-container {
    text-align: center;
}

.my-picture {
    align-items: center;
    background-image: url("../resources/ericsonsmiling.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    max-width: 100%;
}

.main-style-2 {
    padding: 2rem 2rem;
    background-color: var(--wt-color-grey-dark);
    color: white;
}

.main-style-2-title-container {
    padding-bottom: 1rem;
}

.main-style-2-title {
    text-align: center;
}

.experience-card {
    /*background-color: #f7f7f7;*/
    background-color: #e0e0e0;
    color: #141414;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.01rem 0.01rem #3f3f3f;
}

.experience-card-title-container {

}

.experience-card-picture {
    background-image: url("../resources/SAMSUNG-Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.5rem;
    height: 3.5rem;
    float: left;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.experience-info {
    display: inline-block;
    color: var(--wt-color-dark);
    max-height: 3.5rem;
    padding-top: 1rem;
    margin: 0;
        line-height: 0.5rem;

}

.experience-info-company {
    font-size: 1rem;
}

.experience-info-title {
    font-size: 9px;
    color: #999;
}

.experience-card-explanation {
    padding: 0 0.5rem 0.5rem;
    font-size: 0.75rem;
    color: #999;
}

.ul-technology-list {
    padding: 0.5rem 0.5rem;
}

.ul-technology-list li {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.2rem;
    padding: 5px;
    color: #fff;
    background-color: #3c6bf4;
    margin-bottom: 0.4rem;
}

.main-style-1 {
    padding: 2rem 2rem;
    background-color: var(--wt-color-white-20);
}

.main-style-1-title-container {

}

.main-style-1-title {
    text-align: center;
    padding-bottom: 1rem;
    color: #868383;
    padding-bottom: 1rem;
}

#flappy-bird-picture {
    background-image: url("../resources/flappyBirdLogo.png");
}

footer {
    padding: 1rem;
    background-color: var(--wt-color-dark);
}

footer h2 {
    text-align: center;
    color: #fff;
}

.footer-pic  {
    padding: 1rem;
    height: 3rem;
    width: 3rem;
}

footer div {
    text-align: center;
}



@media only screen and (min-width: 500px) {
    header .header-logo {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-align: left;
        padding-top: 0rem;
        padding-right: 1.5rem;
        padding-left: 2rem;
        padding-bottom: 0rem;
        /* This is the line decoration */
        border-right: 0.2rem solid #f3f3f3;
        float: left;
    }


    #header-resume-link {
        display: inline-block;
    }

    header nav ul {
        margin: 1rem 0;
        float: left;
    }

    header nav ul li a {
        line-height: 3.5rem;
        font-size: 1rem;
    }

    .my-picture-container {
        max-width: 45%;
        margin: 0 0 0 0;
    }

    .about-myself-div {
        float: right;
        max-width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    header .header-logo {
        font-size: 2rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    .about-myself-div {
        padding-right: 1vh;
        margin-left: 1rem;
    }

    .my-picture-container {
        /* this was to get right of the right margin*/
        margin: 0 auto;
        float: left;
        padding-left: 1vh;
    }

    .my-picture {
        height: 25rem;
        max-width: 100%;

    }

    .experience-card {
        margin-right: 20vh;
        margin-left: 20vh;
    }
}

@media only screen and (min-width: 1050px) {
    .about-myself-div {
        padding-right: 1vh;
    }

    .my-picture-container {
        padding-left: 1vh;
    }

    .my-picture {
        height: 75vh;
        width: 75vh;
    }

    .landing-page-banner {
        height: 65vh;
    }

    .landing-page-upper-calandar {
        padding-top: 10rem;
        font-size: 2rem;
    }

    .landing-page-lower-calandar-container {
        font-size: 2rem;
    }

    .landing-page-lower-calandar {
        border-style: solid;
        border-color: whitesmoke;
        border-width: 0.09rem;
        border-radius: 0.5rem;
        padding: 0.3rem;
    }

    #hello-world-typing-p {
        font-size: 3rem;
    }

    .about-myself-div {
        font-size: 1.8rem;
    }

    .experience-info {
        line-height: 0.67rem;
    }

    .experience-info-company {
        font-size: 1.3rem;
    }

    .experience-info-title {
        font-size: 1rem;
    }

    .experience-card-explanation {
        font-size: 1rem;
    }

    .ul-technology-list li {
        font-size: 1rem;
    }

    .main-style-1-title {
        font-size: 3rem;
    }

    .main-style-2-title {
        font-size: 3rem;
    }
}